* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 200px;
  width: 98%;
  background-color: #FEFE3A;
  margin: auto;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

main {
  margin-top: 5px;
  margin-bottom: 5px;
}

 .left, .right {
  width: 30%;
  float: left;
}

.center {
  height: 600px;
  width: 34%;
  background-color: #730671;
  float: left;
  margin: 0 2%;
}

.left {
  margin-left: 15px;
  height: 300px;
  background-color: #CC87DA;
}

footer {
  height: 100px;
  background-color: #A4D2E1;
  width: 98%;
  margin: auto;
}

.content {
  height: 270px;
  background-color: #CC87DA;
  margin-bottom: 10px;
}
